#sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cccccc;
    overflow-x: hidden;
    overflow-y: hidden;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#search-container {
    padding-left: 10%;
    background: #eeeeee;
    height: 15%;
}

#search-container input[type=text] {
    width: 60%;
    padding: 6px;
    margin-top: 40px;
    font-size: 16px;
    border: none;
}

#search-container button {
    width: 40px;
    padding: 6px 6px;
    margin-top: 8px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

#search-container button:hover {
    background: #ccc;
}

#tbl-container {
    margin-left: 20%; /* Same as the width of the sidebar */
    width: 80%;
    padding: 0 10px;
}

#query-type {
    margin-bottom: 20px;
}

#query-type-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

#tbl-main {
    margin-top: 20px;
}

#tbl-main td {
    padding: 0;
}

#tbl-main td {
    width: 175px;
    height: 50px;
}

#tbl-main div.course {
    position: absolute;
    color: white;
    text-align: center;
    box-shadow: 3px 3px 10px #888;
    padding-top: 10px;
}

#tbl-main div.course1 {
    width: 175px;
    height: 50px;
}

#tbl-main div.course2 {
    width: 175px;
    height: 100px;
}

#tbl-main div.course3 {
    width: 175px;
    height: 150px;
}

#tbl-main div.course4 {
    width: 175px;
    height: 200px;
}

#tbl-main td.vertical-header {
    font-size: 1em;
    padding: 0.75rem;
    width: 70px;
}

#tbl-main tr.tr-sep, #tbl-main tr.tr-sep td {
    height: 20px !important;
}

#result-container {
    overflow-y: auto;
    height: 85%;
}

#result-container ul {
    list-style: none;
    padding: 0;
}

li.result {
    margin: 10px;
    background: #aaaaaa;
    list-style: none;
}