#sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cccccc;
    overflow-x: hidden;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#search-container {
    padding-left: 10%;
    background: #eeeeee;
}

#search-container input[type=text] {
    width: 60%;
    padding: 6px;
    margin-top: 40px;
    font-size: 16px;
    border: none;
}

#search-container button {
    width: 40px;
    padding: 6px 6px;
    margin-top: 8px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

#search-container button:hover {
    background: #ccc;
}

#tbl-container {
    margin-left: 30%; /* Same as the width of the sidebar */
    padding: 0 10px;
}

#query-type {
    margin-bottom: 20px;
}

#query-type-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

#tbl-main {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.tr-sep {
    height: 1em;
}

tr {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    border: 1px solid black;
    height: 20%;
}

td {

    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    border: 1px solid black;
    width: 10%;

}

th {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    border: 1px solid black;
}

#result-container ul {
    list-style: none;
    padding: 0;
}

li.result {
    margin: 10px;
    background: #aaaaaa;
    list-style: none;
}